<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djtu.fywz.dao.OrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.djtu.fywz.pojo.OrderItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="oid" property="oid" jdbcType="INTEGER" />
    <result column="cstid" property="cstid" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="bid" property="bid" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.djtu.fywz.pojo.Statistical" >

    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />

  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, oid, cstid, number,bid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.djtu.fywz.pojo.OrderItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from orderitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orderitem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orderitem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.djtu.fywz.pojo.OrderItem" useGeneratedKeys="true" keyProperty="id" >
    insert into orderitem (pid, oid, cstid, 
      number,bid)
    values (#{pid,jdbcType=INTEGER}, #{oid,jdbcType=INTEGER}, #{cstid,jdbcType=INTEGER}, 
      #{number,jdbcType=INTEGER},#{bid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.djtu.fywz.pojo.OrderItem" useGeneratedKeys="true" keyProperty="id" >
    insert into orderitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="oid != null" >
        oid,
      </if>
      <if test="cstid != null" >
        cstid,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="bid != null" >
        bid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="cstid != null" >
        #{cstid,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.djtu.fywz.pojo.OrderItem" >
    update orderitem
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="oid != null" >
        oid = #{oid,jdbcType=INTEGER},
      </if>
      <if test="cstid != null" >
        cstid = #{cstid,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.djtu.fywz.pojo.OrderItem" >
    update orderitem
    set pid = #{pid,jdbcType=INTEGER},
      oid = #{oid,jdbcType=INTEGER},
      cstid = #{cstid,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      bid = #{bid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectStatistical" resultMap="BaseResultMap2" parameterType="com.djtu.fywz.pojo.OrderItem">
    select pid as pid, sum(number) `value` from orderitem WHERE oid is not null
    <if test="bid != -1" >
      and bid = #{bid,jdbcType=LONGVARCHAR}
    </if>
    GROUP BY pid ;
  </select>



</mapper>